*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
header {
  background: #1A1A1A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  height: 93px;
  
}

ul {
  display: flex;
  list-style: none;
  gap: 15px;
  
}

ul li a {
  color: white;
  font-size: 16px;
}

header .dropdown-menu {
  display: none;
  
}

nav {
}


.header img{
    object-fit: cover;
    width: 100%;
}
.header-p{
    margin-left: 6%;
}
.header-p h5{
    width: 100%;
    font-size: 23px;
   margin-top: -910px;
   color: #1A1A1A;
   line-height: 25px;
   font-weight: 600;
   
   
   

}
.header-p h3{
    font-size: 50px;
    font-weight: 800;
    color: #1A1A1A;
    margin-top: 10px;
}
@media only screen and (max-width: 500px){

        nav {
            display: none;
        }
        header .dropdown-menu {
            display: block;
          }

        }
  
