*{
    background-color: blue;
}
button {
    width: 290px;
    height: 65px;
    background-color: #F9F9F9;
    color: #1A1A1A;
    font-size: 25px;
    border-radius: 30px ;
    border: none;
    font-weight:700;
    Padding:25px, 220px, 25px, 220px ;
    gap: 15px;
}